.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 3rem;
 
}

.cart__items--disabled {
  pointer-events: none;
}


.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 6.5rem;
}

.cart__footer .discounts {
  margin-bottom: 1rem;
}

.cart__blocks .cart__note {
  top: 0;
  margin: 2.4rem 0;
  padding: 2.4rem 0;
  border-bottom: 1px solid #c5c5c5;
  border-top: 1px solid #c5c5c5;
  flex-flow: column;

}
.cart__note:after,
.cart__note:before {
  display: none;
}
.cart__note label {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 2.8rem;
  margin-bottom: 1.2rem;
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border: var(--inputs-border-width) solid rgba(var(--color-foreground),var(--inputs-border-opacity));
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after,
.cart__note:hover.cart__note:after,
.cart__note:before,
.cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 4rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 100%;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {

  margin: 0 auto;
}

.cart__dynamic-checkout-buttons .dynamic-checkout__content .shopify-cleanslate ul li{
  margin-top: 0!important;
  flex-basis: 100%!important;
}
.cart__dynamic-checkout-buttons:has(.dynamic-checkout__content:empty) {
  margin: 0;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: var(--buttons-radius-outset) !important;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  text-align: center;
  display: block;
}


.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }
  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 0;
  }
}
#MainContent > .page-width {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.cart .section-cart-items {
  width: 75%;
  padding-right: 3rem;
}
.cart .cart__footer-wrapper {
  width: 25%;
}
.cart-page-top .title-wrapper-with-link {
  margin: 0.8rem 0 5.2rem;
}
.box-title.title{
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  padding: 1.4rem 0;
  margin-bottom: 2.4rem;
  text-transform: capitalize;
  border-bottom: 0.1rem solid #c5c5cf;
}
@media(max-width: 1199px){
  .cart-items td,
  .cart-items th {
    padding: 1rem;
  }
}
@media(max-width: 1024px){
  .cart .section-cart-items {
    width: 100%;
    padding-right: 0;
  }
  .cart .cart__footer-wrapper {
    width: 100%;
  }
}