
.collapse {
    display: none
}

.collapse.show {
    display: block
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease
}
.homepage_faq {
    margin-bottom: .7rem;
}

.homepage_faq .card,
.homepage_faq .card-header {
    background: transparent;
}

.homepage_faq .page-faq {
  
    display: flex;
    justify-content: space-between;
}
.homepage_faq .page-faq.show-one-colum {
    justify-content: center;
}
.homepage_faq .col_left,
.homepage_faq .col_right {
    width: 50%;
}

.homepage_faq .page-faq .faq-title,
.homepage_faq .col_left .col_left__des .sub_title {
    font-size: calc(var(--font_size_header) - 2px);
    color: rgb(var(--color-foreground));
    text-transform: uppercase;
    font-weight: normal;
}

.homepage_faq .col_left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.homepage_faq .col_left .col_left__avatar {
    width: 8.6rem;
    height: 8.6rem;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 1rem;
}

.homepage_faq .col_left .col_left__avatar img {
    width: 100%;
}

.homepage_faq .col_left .col_left__des .sub_title {
    margin-bottom: 0.5rem;
}

.homepage_faq .col_left .col_left__des {
    width: calc(100% - 130px);
    margin-left: 4.5rem;
    max-width: 70%;
    padding-right: 2rem;
}

.homepage_faq .col_left .col_left__des .title {
    font-size: calc(var(--font_size_header) + 4px);
    color: rgb(var(--color-foreground));
    line-height: 3.6rem;
    margin-bottom: 2rem;
    margin-top: 0;
}

.homepage_faq .col_left .col_left__des .des {
    font-size: var(--font_size_base);
    font-style: italic;
    color: rgba(var(--color-foreground),0.75);
    line-height: 2.8rem;
    margin-bottom: 3rem;
}

.homepage_faq .col_left .col_left__des .des p {
    margin-bottom: 3rem;
}

.homepage_faq .col_left .col_left__des .des p:last-child {
    margin-bottom: 2rem;
}

.homepage_faq .col_left .col_left__des .author_name {
    font-size: calc(var(--font_size_header) + 4px);
    color: rgb(var(--color-foreground));
}

.homepage_faq .col_left .col_left__des .author_signature {
    width: 17.5rem;
    margin: 0 0 2rem;
}

.homepage_faq .col_left .col_left__des .author_signature img {
    width: 100%;
}

.homepage_faq .col_left .col_left__des .author_name h3 {
    margin-bottom: 0;
}

.homepage_faq .col_left .col_left__des .author_note {
    font-size: calc(var(--font_size_base) - 2px);
    font-style: italic;
    color: rgb(var(--color-foreground));
}


.faqs-paragraph__footer {
    text-align: right;
    padding: 1rem 0 3rem 1rem;
}
.faqs-paragraph__footer a {
    position: relative;
}
.faqs-paragraph__footer a:after{
    content: '';
    width: 100%;
    height: .1rem;
    background-color: currentColor;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .5s;
}
.faqs-paragraph__footer a:hover:after {
    width: 0;
}
.card {
    border: none;
    margin-bottom: 1.5rem;
}

.card .collapse {
    position: relative;
}

.card-header {
    border-radius: 0 !important;
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0;
}

.card-header .title {
    width: 100%;
    color: rgb(var(--color-foreground));
    border: none;
    text-transform: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.card-header .title h3 {
    font-size: var(--font_size_header);
    font-weight: bold;
    margin-bottom: 0;
    border-radius: 0.2rem !important;
    border: .1rem solid rgba(var(--color-button),.85) !important;
    padding: 1.2rem 2.5rem;
    background: transparent;
    margin-bottom: .1rem;
    line-height: 2.8rem;
    padding-right: 4.5rem;
    margin: 0;
    text-align: left;

}
.card-header .icon-plus {
    top: 50%;
    right: 1rem;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    z-index: 2;
    pointer-events: none;
    display: inline-block;
    position: absolute;
    transform: translateY(-50%);
    background: transparent;
}

.card-header .icon-plus:before {
    top: 50%;
    right: 50%;
    z-index: 2;
    content: "";
    width: 0.2rem;
    height: 1.6rem;
    position: absolute;
    transition: all 0.3s ease;
    transform: translate(50%, -50%);
    background-color: rgb(var(--color-button));
}

.card-header .icon-plus:after {
    top: 50%;
    right: 50%;
    z-index: 2;
    content: "";
    width: 1.6rem;
    height: 0.2rem;
    position: absolute;
    transform: translate(50%, -50%);
    background-color: rgb(var(--color-button));
}

.card-header .title:not(.collapsed) h3 {
    position: relative;
}

.card-header .title:not(.collapsed) h3:before {
    top: -0.1rem;
    left: -0.1rem;
    z-index: 2;
    content: "";
    width: .5rem;
    height: 103%;
    position: absolute;
    transition: all 0.3s ease;
    background-color: rgb(var(--color-button));
    border-radius: 0.2rem 0 0 2rem;
}

.card-header .title:not(.collapsed)+.icon-plus:before {
    transform: translateY(-50%) rotate(90deg);
}

.card-body {
    padding: 3rem 0 2.5rem;
}

.card-body.rte p {
    margin-bottom: 3rem;
}

.card-body p:last-child {
    margin-bottom: 0;
}

.card-body p,
.card-body span {
    color: rgba(var(--color-foreground),.75);
}


.faq-content {
    padding: 3rem 0;
}

.faq-group__item {
    width: 50%;
}

.faq-group__item .icon {
    display: block;
    margin: 0 auto .6rem auto;
    width: 2.2rem;
    height: 2.2rem;
    color: rgb(var(--color-button));
    fill: rgb(var(--color-button));
}

.faq-group__item .text {
    color: rgb(var(--color-foreground));
    font-weight: 400;
    text-transform: capitalize;
    text-underline-position: under;
    text-decoration: underline;
}

@media (min-width: 1025px) {

    .faq-title {
        padding-bottom: 0.1rem;
    }

    .faq-content {
        padding: 5rem 0;
    }

    .faq-content a {
        min-width: 25rem;
        margin: 0 0 0 2.5rem;
    }
}
@media(max-width: 1024px){
    .homepage_faq .page-faq {
        flex-flow: wrap;
    }
    .homepage_faq .col_left, .homepage_faq .col_right{
        width: 100%;
    }
    .homepage_faq .col_left .col_left__des {
        margin-left: auto;
        padding-right: 0;
        width: calc(100% - 100px);
    }
}