.product-card_compare input {
    display: none;
}
.product-card_compare label {
    font-weight: normal;
    padding: 0;
    position: relative;
    color: rgba(var(--color-foreground));
    text-transform: capitalize;
    display: block;
    min-width: 15rem;
    height: inherit;
    cursor: pointer;
    line-height: 3rem;
}
.product-card_compare {
    background: #fff;
    text-align: center;
    padding: 0;
    min-height: inherit;
    border: none;
    min-width: 15rem;
    height: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    z-index: 3;
    margin-top: -4rem;
    font-size: 1.4rem;
}
.product-card-wrapper:hover .product-card_compare {
    display: flex;
    justify-content: center;
    align-items: center;
}
#product-compare-modal .modal-body {
    max-height: none;
    overflow: visible;
    padding: 3rem;
}

#product-compare-modal .modal-header {
    background-color: #fafafa;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: 0;
}

#product-compare-modal .modal-header h2 {
    text-transform: unset;
    color: rgb(var(--color-heading));
}

.compare-modal-wrapper {
    border: 0.1rem solid #eaeaea;
    max-height: 55vh;
    overflow: auto;
    margin-right: -0.2rem;
}

.compare-modal-wrapper::-webkit-scrollbar-track {
    background-color: #f4f4f4;
}
.compare-modal-wrapper::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
    background-color: #f4f4f4;
}

.compare-modal-wrapper::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
}

.compare-modal-wrapper .product-row + .product-row  .compare-header {
    border-top: 0.1rem solid #eaeaea;
    margin-top: -0.1rem;
}

.compare-modal-wrapper .product-row + .product-row  .compare-content {
    border-top: 0.1rem solid #eaeaea;
    margin-top: -0.1rem;
}

.compare-modal-wrapper .product-row + .product-row  .col-xl-4 {
    border-top: 0.1rem solid #eaeaea;
    margin-top: -0.1rem;
}

.compare-modal-wrapper .compare-header {
    border-right: 0.1rem solid #eaeaea;
    text-transform:capitalize;
    font-weight: normal;
}

.compare-modal-wrapper .product-row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    column-gap: 0;
    row-gap: 0;
}

.compare-header {
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    justify-content: flex-start;
    text-transform: capitalize;
}

.compare-content {
    padding: 0 1.5rem;
}

.compare-content .grid {
    display: flex;
    flex-flow: nowrap;
    margin: 0;
}
.compare-content .collection.grid span{
    font-weight: bold;
}
.compare-content .description.grid{
    font-style: italic;
} 
.compare-content .rating {
    text-align: center;
}
.compare-content .rating .spr-badge-caption {
    display: none;
}
.compare-content .col-xl-4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 2.4rem;
}
.compare-content .col-xl-4.in-stock {
    color:  rgba(var(--color-foreground),.5); 
    font-style: italic;
}
.compare-content .col-xl-4.unavailable {
    font-style: italic;
    color:  rgba(var(--color-foreground),.5); 
}
.compare-content ul {
    margin-bottom: 0;
}

.compare-content .collection, 
.compare-content .product-type, 
.compare-content .product-color, 
.compare-content .product-option {
    text-transform: capitalize;
}
    
.compare-content .collection .value, 
.compare-content .product-size .value, 
.compare-content .product-color .value {
    position: relative;
    padding-right: 0.4rem;
    margin-right: 0.3rem;
    display: inline-block;
}
.compare-content .collection .value:before, 
.compare-content .product-size .value:before, 
.compare-content .product-color .value:before {
    content: ",";
    position: absolute;
    right: 0;
    bottom: 0;
}

.compare-content .collection .value:last-child:before, 
.compare-content .product-size .value:last-child:before, 
.compare-content .product-color .value:last-child:before {
    content: none;
}
    
.t-product .col-xl-4 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.compare-content .t-product .col-xl-4 {
    padding-bottom: 4rem;
}

.compare-link {
    pointer-events: none;
    display: none;
}
@media(min-width: 1025px){
    .compare-link {
        display: block;
        position: fixed;
        right: 30px;
        top: 70%;
        margin-top: 0;
        z-index: 10000;
        max-width: none;
    }
}
.compare-link .btn--compare{
    width: 130px;
}
.btn--compare {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.compare-countPill {
    position: absolute;
    right: -1.1rem;
    top: -1.1rem;
    height: 2.3rem;
    width: 2.3rem;
    line-height: 2.3rem;
    border-radius: 50%;
    font-size: 12px;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn--compare {
    overflow: initial;
    box-shadow: 0 0 0!important;
 }
 .btn--compare:after,
 .btn--compare:before {
    display: none;
 }
.btn--compare.show {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.remove-all {
    top: 70%;
    right: 3rem;
    color: #5a5a5a;
    font-weight: 500;
    position: absolute;
    transform: translateY(-50%);
    font-style: italic;
    font-size: 14px;
}
.remove-all span{
    border-bottom: 0.1rem solid #8b8b8b;
}
.remove-all:hover{
   color: #ce2b1e; 
}
.remove-all:hover span{
   border-color: #ce2b1e; 
}
.product-card--compare .product-card__remove {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    font-style: italic;
    border-bottom: 0.1rem solid #8b8b8b;
    color: #5a5a5a;
}
.product-card--compare .product-card__remove:hover{
    color: rgba(var(--color-foreground),.5); 
    border-color:  rgba(var(--color-foreground),.5);
}

.product-card_compare.compare-added label {
    color: rgb(var(--color-button-text));
    background-color: rgba(var(--color-button), var(--alpha-button-background));
    width: 100%;
}
#product-compare-modal .modal-header.text-center .close {
    color: currentColor;
}

#product-compare-modal .card__information{
    padding-bottom: 0;
}
@media(max-width: 1024px){
    .product-card_compare {
        display: none!important;
    }
}