#menu-drawer .dropdown-language-currency {
  position: static;
  display: block;
  box-shadow: 0 0 0;
  background: none;
}
#menu-drawer .currency-dropdown .dropdown-menu{
  width: 100%;
  padding: 0;
}
#menu-drawer .dropdown-language-currency .dropdown-menu {
  width: 100%;
  background: none;
}
#menu-drawer .currency-dropdown .dropdown-item.active,
#menu-drawer .currency-dropdown .dropdown-item:active{
  background: none;
}
.header__icon--menu {
  position: initial;
}
.header__icon--menu.header__icon--summary {
  display: none;
}
.js menu-drawer > details > summary::before,
.js menu-drawer > details[open]:not(.menu-opening) > summary::before {
  content: '';
  position: absolute;
  cursor: default;
  width: 100%;
  height: calc(100vh - 100%);
  height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
  top: 100%;
  left: 0;
  background: rgba(var(--color-foreground), 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity 0s, visibility 0s;
}

menu-drawer > details[open] > summary::before {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--duration-default) ease, visibility var(--duration-default) ease;
}

.menu-drawer {
  position: absolute;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 3;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 0;
  background-color: rgb(var(--color-background));
  overflow-x: hidden;
  filter: drop-shadow(
    var(--drawer-shadow-horizontal-offset) var(--drawer-shadow-vertical-offset) var(--drawer-shadow-blur-radius)
      rgba(var(--color-shadow), var(--drawer-shadow-opacity))
  );
}
header-drawer details {
  background: none!important;
}
.js .menu-drawer .menu-drawer__inner-container {
  height: calc(100vh - 100%);
  height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
  overflow-y: scroll;
  min-height: 100vh;
}

.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
  transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
}

.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
  transform: translateX(0);
  visibility: visible;
}

.js .menu-drawer__navigation .submenu-open {
  visibility: hidden; /* hide menus from screen readers when hidden by submenu */
}

@media screen and (min-width: 750px) {
  .menu-drawer {
    width: 40rem;
    border-width: 0 var(--drawer-border-width) 0 0;
    border-style: solid;
    border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
  }

  .no-js .menu-drawer {
    height: auto;
  }
}

.menu-drawer__inner-container {
  position: relative;
}

.menu-drawer__navigation-container {
  display: grid;
  grid-template-rows: 1fr auto;
  align-content: space-between;
  overflow-y: auto;
  background-color: #fff;
}


.no-js .menu-drawer__navigation {
  padding: 0;
}

.no-js .menu-drawer__navigation > ul > li {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.no-js .menu-drawer__submenu ul > li {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.04);
}


.menu-drawer__menu-item {
  padding: 1.1rem 1.5rem;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 1;
}

.no-js .menu-drawer__menu-item {
  font-size: 1.6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__menu-item {
  padding: 1.2rem 5.2rem 1.2rem 6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item {
  padding-left: 9rem;
}

.menu-drawer summary.menu-drawer__menu-item {
  padding-right: 4rem;
  width: 100%;
}
.menu-drawer__menu.submenu-open > li > details{
  display: none;
}
.menu-drawer__menu.submenu-open > li  details.menu-opening{
  display: block;
}
.menu-drawer__menu.submenu-open > li  details.menu-opening > summary{
  display: none;
}
.menu-drawer__submenu.submenu-open > .menu-drawer__inner-submenu > button {
  display: none;
}
.menu-drawer__submenu.submenu-open > .menu-drawer__inner-submenu > .menu-drawer__menu > .menu-lv-2 > a,
.menu-drawer__submenu.submenu-open > .menu-drawer__inner-submenu details {
  display: none;
}
.menu-drawer__submenu.submenu-open > .menu-drawer__inner-submenu details.menu-opening {
  display: block;
} 
.no-js .menu-drawer__menu-item .icon-caret {
  right: 1.5rem;
}


.js .menu-drawer__menu-item .icon-caret,
.no-js .menu-drawer .icon-arrow {
  display: none;
}

.menu-drawer__menu-item > .icon-arrow {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.2rem;
}
.menu-drawer__menu.list-menu {
  padding: 0;
}
.js .menu-drawer__submenu {

  width: 100%;
  z-index: 1;
  transform: translateX(100%);
  visibility: hidden;
}

.js .menu-drawer__submenu .menu-drawer__submenu {
  overflow-y: auto;
}

.menu-drawer__close-button {
  padding: 1.2rem 2.6rem 1.2rem 3rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  width: 100%;
  background-color: transparent;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  text-align: left;
}

.no-js .menu-drawer__close-button {
  display: none;
}


.menu-drawer__utility-links {
  padding: 0;
  position: relative;
}
.menu-drawer__utility-links .site-nav-mobile > li {
  border-bottom: var(--popup-border-width) solid rgba(var(--color-foreground),var(--popup-border-opacity));
}

@media screen and (max-width: 749px) {
  .header--has-account:where(:not(.header--has-social):not(.header--has-localizations)) .menu-drawer__utility-links {
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 989px) {
  .header--has-localizations:where(:not(.header--has-social)) .menu-drawer__utility-links {
    padding: 2rem 3rem;
  }
}

.menu-drawer__account {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem 0;
  font-size: 1.4rem;
  color: rgb(var(--color-foreground));
  margin-bottom: 0;
}

.menu-drawer__utility-links:has(.menu-drawer__localization) .menu-drawer__account {
  margin: 0;
}

.menu-drawer__account .icon-account {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.menu-drawer__account:hover .icon-account {
  transform: scale(1.07);
}

.menu-drawer .list-social {
  justify-content: flex-start;
  margin-left: -1.25rem
}

.menu-drawer .list-social:empty {
  display: none;
}

.menu-drawer .list-social__link {
  padding: 1.1rem 1.1rem;
}
.js .menu-drawer {
  top: 0;
  min-height: 100vh;
  background: none;
  width: 100%;
}
.js .menu-drawer .bkg-overlay-drawmenu {
  position: absolute;
  right: -4.4rem;
  width: calc(100% + 44px);
  top: 0;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  cursor: pointer;
}
.shopify-section-header-sticky.scrolled-past-header .menu-drawer-container.menu-opening .header__icon--menu.header__icon--summary {
    left: 40rem;
    background: #000;
    top: 0;
    z-index: 4;
    color: #fff;
    transform: none;
}
.menu-drawer__inner-container {
  z-index: 4;
  background: #fff;
  max-width: 40rem;
}
@media screen and (max-width: 749px) {
 
  .shopify-section-header-sticky.scrolled-past-header .menu-drawer-container.menu-opening .header__icon--menu.header__icon--summary {
      right: 0;
     left: auto;
  }
  .menu-drawer__inner-container {
    max-width: calc(100% - 44px);
  }
  
}
@media(max-width: 1024px){
  details[open] > .menu-drawer{
    position: fixed;
  }
}