.collapse {
    display: none
}

.collapse.show {
    display: block
}


.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease
}
.page.page-faq {
    max-width: 137rem;
}

.page.page-faq .section-header .title {
    padding-bottom: 1rem;
    margin: 0;
} 

.page.page-faq .section-header {
    margin-bottom: 1rem;
}


.page.page-faq .rte a{
    color: rgb(var(--color-foreground));
    border-color: rgb(var(--color-foreground));
}
.faq-title {
    margin: 0;
    font-size: 20px;
     padding-bottom: 3rem;
    text-transform: capitalize;
}

.faq-contact {
    padding: 3rem;
    display: block;
    border-radius: .3rem;
}

.faq-contact .faq-title {
    color: rgb(var(--color-heading));
    padding-bottom: 1.9rem;
    margin-bottom: 2.8rem;
    border-bottom: .2rem solid rgb(var(--color-heading));
}

.faqs-paragraph {
    display: block;
}

.faqs-paragraph + .faqs-paragraph {
    margin-top: 2.5rem;
}


.card .collapse {
    position: relative;
}

.card-header .title:not(.collapsed) {
    color: #191919;
}

.card-header .title:not(.collapsed) + .icon-plus:before {
    transform: translateY(-50%) rotate(90deg);
}

.card-body {
    padding-left: 0;
    padding-right: 0;
}

.card .collapsing > span,
.card .collapse > span {
    width: 7rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 12px;
    font-weight: 500;
    background-color: #d2e0df;
    color: #191919;
    border-radius: .2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.5rem;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 2.2rem;
    left: 0;
}

.card .collapsing > span + .card-body,
.card .collapse > span + .card-body {
    padding-left: 8.5rem;
}

.faq-content {
    padding: 1.8rem 0;
}

.faq-content a {
    width: 16rem;
}

.faq-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.faq-group__item {
    width: 50%;
}


.faq-group__item .text {
    color: rgb(var(--color-foreground));
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
}
.tab_custom_faq .italic{
    font-style: italic;
}
.tab_custom_faq .text_bold{
    font-weight: 600;
    color: #ce2b1e;
}
.tab_custom_faq  .title, .tab_custom_faq  .number{
    font-weight: 600;
}
.tab_custom_faq  .number{
    margin-bottom: 0!important;
}
.tab_custom_faq  .title.one{
    margin-bottom: 1rem;
}
.tab_custom_faq ul{
    margin-bottom: 2.4rem;
}
.tab_custom_faq ul li{
    padding: .5rem 0 .2rem;
}
.card-header .title h3{
    margin-bottom: .2rem;
}
.page.page-faq .card-body{
    padding: 2rem 0 2.1rem;
}
.faq-title {
    padding-bottom: 3rem;
}

.page.page-faq .page-sidebar__close .close-modal svg{
    width: 1.2rem;
    height: 1.2rem;
}
.faqs-paragraph__footer {
    text-align: right;
    padding: 1.1rem 1.3rem 3rem;
}

.card {
    border: none;
    margin-bottom: 1.5rem;
}

.card .collapse {
    position: relative;
}

.card-header {
    border-radius: 0 !important;
    position: relative;
    background-color: #ffffff;
    border: none;
    padding: 0;
}

.card-header .title {
    width: 100%;
    border: none;
    text-transform: none;
    padding: 0;
    margin: 0;
}

.card-header .title h3 {
    font-size: 16px;
    font-weight: bold;
    border: .1rem solid #dcdcdc !important;
    padding: 1.2rem 2.5rem 1.3rem;
    background: #fff;
    line-height: 2.8rem;
    padding-right: 4.5rem;
    margin: 0;
    text-align: left;
}
.card-header .icon-plus {
    top: 50%;
    right: 1rem;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    z-index: 2;
    pointer-events: none;
    display: inline-block;
    position: absolute;
    transform: translateY(-50%);
    background: #fafafa;
}

.card-header .icon-plus:before {
    top: 50%;
    right: 50%;
    z-index: 2;
    content: "";
    width: .2rem;
    height: 1.6rem;
    position: absolute;
    transition: all 0.3s ease;
    transform: translate(50%, -50%);
    background-color: #274b4f;
}

.card-header .icon-plus:after {
    top: 50%;
    right: 50%;
    z-index: 2;
    content: "";
    width: 1.6rem;
    height: 0.2rem;
    position: absolute;
    transform: translate(50%, -50%);
    background-color: #274b4f;
}

.card-header .title:not(.collapsed) h3 {
    position: relative;
}

.card-header .title:not(.collapsed) h3:before {
    top: -.1rem;
    left: -.1rem;
    z-index: 2;
    content: "";
    width: .5rem;
    height: 103%;
    position: absolute;
    transition: all 0.3s ease;
    background-color: rgb(var(--color-foreground));
}

.card-header .title:not(.collapsed)+.icon-plus:before {
    transform: translateY(-50%) rotate(90deg);
}

.card-body {
    padding: 2.7rem 0 2.5rem;
}

.card-body.rte p {
    margin-bottom: 2.8rem;
}

.card-body p:last-child {
    margin-bottom: 0;
}

.card-body p,
.card-body span {
    color: #5a5a5a;
}

.card .collapsing>span,
.card .collapse>span {
    width: 7rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 12px;
    font-weight: 500;
    background-color: #d2e0df;
    color: #191919;
    border-radius: .2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.5rem;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 2.2rem;
    left: 0;
}

.card .collapsing>span+.card-body,
.card .collapse>span+.card-body {
    padding-left: 8.5rem;
}

.faq-content {
    padding: 3rem 0;
}

.faq-group__item {
    width: 50%;
}

.faq-group__item .text {
    color: rgba(var(--color-foreground));
    font-weight: 400;
    text-transform: capitalize;
    text-underline-position: under;
    text-decoration: underline;
}
.page.page-faq .rte {
    margin-bottom: 3.5rem;
}
@media (min-width: 1025px) {

    .faq-content {
        padding: 5rem 0;
    }

    .faq-content a {
        min-width: 25rem;
        margin: 0 0 0 2.5rem;
    }
    .page.page-faq {
        min-height: calc(100vh - 175px);
    }
    .page-hero__image {
        height: 30rem;
    }
    .faq-content a {
        min-width: 25rem;
        margin: 0 0 0 2.5rem;
        height: 5rem;
        line-height: 4.6rem;
    }
    .faq-content {
        padding: 1.8rem 0 3.5rem;
    }
    .faq-contact {
        background-color: #fafafa;
    }
   

    .faqs-paragraph + .faqs-paragraph {
        margin-top: 2.5rem;
    }
}

.faq-contact {
    padding: 3rem;
    display: block;
    border-radius: .3rem;
}
.faq-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.faq-group__item {
    width: 50%;
}
.faq-group__item .icon {
    display: block;
    margin: 0 auto .3rem;
    width: 2.2rem;
    height: 2.2rem;
    color: rgb(var(--color-foreground));
    fill: rgb(var(--color-foreground));
}
