.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}
.page-contact .page-width {
  max-width: 137rem;
  margin: 0 auto;
}
.contact.page-width {
  display: flex;
  justify-content: space-between;
}
.contact.page-width > div {
  flex: 0 0 45%;
}
@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

@media(max-width: 749px){
  .contact.page-width {
    flex-flow: column;
    gap: 4rem;
  }
  .contact.page-width>div {
    flex: 0 0 100%;

  }
}