/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: .1rem;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 2rem;
    width: 2rem;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    z-index: 10;
}

.slick-prev svg,
.slick-next svg {
    width: 100%;
    height: 100%;
    color: rgb(var(--color-heading));
    fill: rgb(var(--color-heading));
    stroke: rgb(var(--color-heading));
}

.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
    background: transparent;
    color: transparent;
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
    opacity: 0.25;
    cursor: default;
}

@media (min-width: 1025px) {

    .slick-prev.slick-arrow--large,
    .slick-next.slick-arrow--large {
        height: 3rem;
        width: 3rem;
    }
}

@media (min-width: 1600px) {

    .slick-prev.slick-arrow--large,
    .slick-next.slick-arrow--large {
        height: 4rem;
        width: 4rem;
    }
}

.slick-prev {
    left: 0;
}

@media (min-width: 1025px) {
    .slick-prev.slick-arrow--large {
        left: -1.5rem;
    }
}

@media (min-width: 1600px) {
    .slick-prev.slick-arrow--large {
        left: -6.5rem;
    }
}

@media (min-width: 1920px) {
    .slick-prev.slick-arrow--large {
        left: -7.5rem;
    }
}

.slick-next {
    right: 0;
    /* Dots */
}

@media (min-width: 1025px) {
    .slick-next.slick-arrow--large {
        right: -1.5rem;
    }
}

@media (min-width: 1600px) {
    .slick-next.slick-arrow--large {
        right: -6.5rem;
    }
}

@media (min-width: 1920px) {
    .slick-next.slick-arrow--large {
        right: -7.5rem;
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 3rem;
}

.slick-dots {
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    bottom: -3rem;
    display: block;
    list-style: none;
    text-align: center;
    position: absolute;
    /*================ GLOBAL ================*/
    /*============================================================================
    #Normalize
    Based on normalize.css v3.0.2 | MIT License | git.io/normalize
==============================================================================*/
}

.slick-dots li {
    padding: 0;
    width: auto;
    height: auto;
    margin: 0 .5rem;
    display: inline-block;
    vertical-align: middle;
}

.slick-dots li button {
    width: .8rem;
    height: .8rem;
    padding: 0;
    opacity: 1;
    font-size: 0;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: .1rem solid #b5b5b5;
    background-color: transparent;
    transition: all 0.3s ease;
}

.slick-dots li button:hover {
    opacity: 1;
    border-color: #5a5a5a;
    background-color: #5a5a5a;
}

.slick-dots li.slick-active button {
    border-color: #5a5a5a;
    background-color: #5a5a5a;
}

@media (min-width: 551px) {
    .slick-dots li {
        margin: 0 1.5rem;
    }

    .slick-dots li button {
        width: 1rem;
        height: 1rem;
    }
}
